.hero-banner:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hero-banner.hero-banner__landing-page {
    margin: 20px;
}

.hero-banner__content{
    z-index: 1;
}

.hero-banner__media {
    width: 50%;
    height: 100%;
}

.hero-banner__spline {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: -1;
}

.hero-banner.hero-banner__landing-page h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

.hero-banner.hero-banner__landing-page p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
    max-width: 20em;
}
