.hero-banner.hero-banner__landing-page {
    margin: 50px 20px;
}

.hero-banner__content{
    z-index: 1;
}

.hero-banner__media {
    width: 50%;
    height: 100%;
}

.hero-banner__spline {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
}

.hero-banner.hero-banner__landing-page h1{
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: #fff;
}

.hero-banner.hero-banner__landing-page p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
    max-width: 20em;
}

@media screen and (max-width: 768px) {
    .hero-banner__spline {
        display: none;
    }
    .hero-banner.hero-banner__landing-page h1{
        font-size: 1.5rem;
    }
    .hero-banner.hero-banner__landing-page p {
        font-size: 1rem;
        max-width: 100%;
    }
}